@import "tailwindcss";

@theme {
  --color-primary: #525252;
  --color-secondary: #f47011;
  --color-tertiary: #f68e43;
}

body {
  color: black;
}

.navLink:after {
  content: "]";
}

.navLink:before {
  content: "[";
}

.navLink:after,
.navLink:before {
  color: var(--color-secondary);
  font-weight: bold;
  padding: 0 0.15rem;
}
